.imageConfiguration{
    width: 22rem;
    height: 18rem;
    border-radius: 8px;
}

.wonderCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.wonderCard{
    filter: grayscale(100%);
}
.wonderCard:hover{
filter: grayscale(0);
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.linkTitleCard{
    text-decoration: none;
}