.imageConfiguration{
    width: 22rem;
    height: 18rem;
    border-radius: 8px;
}


.wonderCard{
    filter: grayscale(100%);
    align-items: center
}
.wonderCard:hover{
filter: grayscale(0);
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 50px;
}

.linkTitleCard{
    text-decoration: none;
}